section.language-product{
    padding: 4rem;
}

section.language-product h2{
    font-size: 2.5rem;
    text-align: center;
}

section.language-product div.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section.language-product div.content div.tab{
    display: flex;
    flex-direction: column;
}

section.language-product div.content div.tab button.tablinks{
    background-color: #f2f8fb;
    color: black;
    padding: 5px 45px;
    width: 90%;
    border: none;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-weight: bold;
    line-height: 1.5;
    height: 60px;
    cursor: pointer;
}

section.language-product div.content div.tab button.tablinks:active{
    background-color: #c02179;
    color: white;
}

section.language-product div.content h3{
    font-size: 1.5rem;
}

section.language-product div.content p{
    font-size: 1.2rem;
}